In [1]:
import mygene
import pandas as pd
from tqdm import tqdm

# 1. PPI

 <pre>

         
     In ppi_Dataframe
         TF_name: AC226150, ... 	
         Interacting_Partner: FOXO1, ..
         
 </pre>

In [41]:
import numpy as np
tf = pd.read_csv('./t2t_assembly/T2T_assembly_GRN_input_Data/TF_Genes.txt', sep = '\t')
tf_list = tf['TF'].tolist()
tf_list = list(set(tf_list))
tf_list[0:10]

['BARHL2',
 'ZNF611',
 'FOXD4L3',
 'TBPL2',
 'TET1',
 'TBR1',
 'ZNF582',
 'SIX3',
 'EMX2',
 'MITF']

In [42]:
'RFX7' in tf_list

True

In [43]:
import requests
import json

# Define your API key and transcription factor ID
#api_key = 'YOUR_API_KEY'
#tf_id = 'YOUR_TF_IDENTIFIER'

# Set the API endpoint
string_api_url = "https://version-12-0.string-db.org/api"
output_format = "tsv-no-header"
method = "interaction_partners"
# Define the query parameters
request_url = "/".join([string_api_url, output_format, method])

my_genes = tf_list


params = {

    "identifiers" : "%0d".join(my_genes), # your p'rotein
    "species" : 9606, # species NCBI identifier 
    "caller_identity" : "www.awesome_app.org", # your app name
    'required_score' : 500

}
response = requests.post(request_url, data=params)

##
## Read and parse the results
##

In [44]:
s = 0
query_name_list = []
partner_name_list = []
score = []
not_p = []
for line in tqdm(response.text.strip().split("\n")):
 
    

    l = line.strip().split("\t")
    query_ensp = l[0]
    query_name = l[2]
    if query_name not in tf_list:
        not_p.append(query_name)
        print(l)
       
        continue
        
    partner_ensp = l[1]
    partner_name = l[3]
    combined_score = l[5]

    ## print
    query_name_list.append(query_name)
    partner_name_list.append(partner_name)
    score.append(1)
 
    
    #print("\t".join([query_ensp, query_name, partner_name, combined_score]))

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 49389/49389 [00:00<00:00, 327813.37it/s]

In [45]:
set(not_p) #{'CYP27B1', 'TBXT', 'ZFP41-2', 'ZNF875'}

set()

In [46]:
len(tf_list)

991

In [47]:
d = pd.DataFrame()

d['TF_name'] = query_name_list
d['Interacting_Partner'] = partner_name_list
d['Score'] = score

In [48]:
d.head()

  TF_name Interacting_Partner  Score
0  HOXA11              HOXA10      1
1  HOXA11               FOXO1      1
2  HOXA11                PAX2      1
3  HOXA11              HOXA13      1
4  HOXA11                PBX1      1

In [49]:
x = set(d.TF_name)
y = set(tf.TF)
z = y-x

In [50]:
z

{'FOXB2',
 'FOXI2',
 'HES2',
 'LBX2',
 'NKX1-2',
 'SCRT2',
 'ZBTB7C',
 'ZFHX2',
 'ZFP41',
 'ZNF121',
 'ZNF132',
 'ZNF35',
 'ZNF502',
 'ZNF580',
 'ZNF90',
 'ZSCAN5C'}

In [51]:
len(z)

16

In [52]:
len(x)

975

In [53]:
x = set(tf.TF.values) - set(d.TF_name.values)

In [54]:
#x = x.union(set(not_p)) 
#x - set(d.TF_name.values).union(set(tf.TF.values)) -set(d.TF_name.values) .intersection(set(tf.TF.values))

In [55]:
d.shape

(49389, 3)

In [56]:
d.head()

  TF_name Interacting_Partner  Score
0  HOXA11              HOXA10      1
1  HOXA11               FOXO1      1
2  HOXA11                PAX2      1
3  HOXA11              HOXA13      1
4  HOXA11                PBX1      1

In [57]:
l = set(d.TF_name.values)

In [58]:
d = d[d.Interacting_Partner.isin(l)]

In [59]:
d.head()

  TF_name Interacting_Partner  Score
0  HOXA11              HOXA10      1
2  HOXA11                PAX2      1
3  HOXA11              HOXA13      1
4  HOXA11                PBX1      1
6  HOXA11                EMX2      1

In [60]:
set(d.TF_name) - set(d.Interacting_Partner)

set()

In [61]:
set(d.Interacting_Partner) - set(d.TF_name)

set()

In [62]:
l = set(d.TF_name.values)
len(l)

781

In [63]:
tf.head()

          TF            Genes  Edge      TF_Ensemble
0  ATF7-NPFF  ENSG00000228327     1  ENSG00000267281
1  ATF7-NPFF  ENSG00000237491     1  ENSG00000267281
2  ATF7-NPFF  ENSG00000188290     1  ENSG00000267281
3  ATF7-NPFF  ENSG00000187608     1  ENSG00000267281
4  ATF7-NPFF  ENSG00000234396     1  ENSG00000267281

In [64]:
d.head()

  TF_name Interacting_Partner  Score
0  HOXA11              HOXA10      1
2  HOXA11                PAX2      1
3  HOXA11              HOXA13      1
4  HOXA11                PBX1      1
6  HOXA11                EMX2      1

In [65]:
tf

                TF            Genes  Edge      TF_Ensemble
0        ATF7-NPFF  ENSG00000228327     1  ENSG00000267281
1        ATF7-NPFF  ENSG00000237491     1  ENSG00000267281
2        ATF7-NPFF  ENSG00000188290     1  ENSG00000267281
3        ATF7-NPFF  ENSG00000187608     1  ENSG00000267281
4        ATF7-NPFF  ENSG00000234396     1  ENSG00000267281
...            ...              ...   ...              ...
2180246     ZSCAN9  ENSG00000185022     1  ENSG00000137185
2180247     ZSCAN9  ENSG00000100417     1  ENSG00000137185
2180248     ZSCAN9  ENSG00000280199     1  ENSG00000137185
2180249     ZSCAN9  ENSG00000260613     1  ENSG00000137185
2180250     ZSCAN9  ENSG00000273272     1  ENSG00000137185

[2180251 rows x 4 columns]

In [66]:
tf[tf.TF == 'PAX2']

          TF            Genes  Edge      TF_Ensemble
492387  PAX2  ENSG00000187634     1  ENSG00000075891
492388  PAX2  ENSG00000162576     1  ENSG00000075891
492389  PAX2  ENSG00000160075     1  ENSG00000075891
492390  PAX2  ENSG00000041988     1  ENSG00000075891
492391  PAX2  ENSG00000274178     1  ENSG00000075891
...      ...              ...   ...              ...
492653  PAX2  ENSG00000264452     1  ENSG00000075891
492654  PAX2  ENSG00000015475     1  ENSG00000075891
492655  PAX2  ENSG00000099999     1  ENSG00000075891
492656  PAX2  ENSG00000202058     1  ENSG00000075891
492657  PAX2  ENSG00000280080     1  ENSG00000075891

[271 rows x 4 columns]

In [67]:
tf[tf.TF == 'DMRT3']['TF_Ensemble'].values[0]

'ENSG00000064218'

In [68]:
def return_ensemble(symbol):
    
    return tf[tf.TF == symbol]['TF_Ensemble'].values[0]

In [77]:
j = []
k = []
for i,row in tqdm(d.iterrows()):
    j.append(tf[tf.TF == row['TF_name']]['TF_Ensemble'].values[0])
    k.append(tf[tf.TF == row['Interacting_Partner']]['TF_Ensemble'].values[0])

d['TF_name'] = j  
d['Interacting_Partner'] = k

12150it [20:50,  9.72it/s]

In [78]:
d

               TF_name Interacting_Partner  Score
0      ENSG00000005073     ENSG00000253293      1
2      ENSG00000005073     ENSG00000075891      1
3      ENSG00000005073     ENSG00000106031      1
4      ENSG00000005073     ENSG00000185630      1
6      ENSG00000005073     ENSG00000170370      1
...                ...                 ...    ...
49374  ENSG00000164749     ENSG00000111206      1
49376  ENSG00000164749     ENSG00000129514      1
49383  ENSG00000181827     ENSG00000143390      1
49387  ENSG00000181827     ENSG00000111783      1
49388  ENSG00000181827     ENSG00000132005      1

[12150 rows x 3 columns]

In [ ]:
d.to_csv('./t2t_assembly/T2T_assembly_GRN_input_Data/TF_TF_PPI.csv')

In [ ]:
'''
l = list(l)
len(l)
import mygene
from gprofiler import GProfiler

gp = GProfiler(return_dataframe=True)
df = gp.orth(organism='hsapiens',
            query=l,
            target='mmusculus')
            
df = df[['incoming','converted']]
df = df.drop_duplicates()

df[df.converted == 'N/A']
df.loc[117,'converted'] = 'ENSG00000181638'
df[df.converted == 'N/A']
df = df.reset_index(drop=True)


df[df.incoming == 'FOXP1']
df.drop(labels = 235, inplace=True,axis = 0)
df[df.incoming == 'FOXP1']
df = df.reset_index(drop=True)¨


df[df.incoming == 'DDIT3']
df.drop(labels = 497, inplace=True,axis = 0)
df = df.reset_index(drop=True)
df[df.incoming == 'DDIT3']

df[df.incoming == 'ZNF263']
df.drop(labels = 64, inplace=True,axis = 0)
df = df.reset_index(drop=True)
df[df.incoming == 'ZNF263']


df[df.incoming == 'ZNF547']
df.drop(labels = [113,114], inplace=True,axis = 0)
df = df.reset_index(drop=True)
df[df.incoming == 'ZNF547']


df[df.incoming == 'HSFY1']
df.drop(labels = 242, inplace=True,axis = 0)
df = df.reset_index(drop=True)
df[df.incoming == 'HSFY1']


len(set(df.converted))

df.to_csv('./t2t_assembly/T2T_assembly_GRN_input_Data//TF_TF_PPI_symbol_to_ensembleid.csv')

def return_ensemble(symbol):   
    return df[df.incoming == symbol]['converted'].values[0]
    
d['TF_name'] = d['TF_name'].apply(return_ensemble)    
d['Interacting_Partner'] = d['Interacting_Partner'].apply(return_ensemble)

'''